.App {
    text-align: center;
  }
  /* http://meyerweb.com/eric/tools/css/reset/ 
     v2.0 | 20110126
     License: none (public domain)
  */
  
  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed, 
  figure, figcaption, footer, header, hgroup, 
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure, 
  footer, header, hgroup, menu, nav, section {
      display: block;
  }
  body {
      line-height: 1;
  }
  ol, ul {
      list-style: none;
  }
  blockquote, q {
      quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
      content: '';
      content: none;
  }
  table {
      border-collapse: collapse;
      border-spacing: 0;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .buttonWrapper {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
  }
  
  .ModalWrapper {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
    background-color: #0000004D;
  
  }
  .childrenbody {
    display: flex;
    width: 500px;
    height: 558px;
    background-color: white;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .wrapperbody {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .texts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }
  .closer{
    position: relative;
  }
  
  .closecross {
  position: absolute;
  top: 100px;
  left: 1150px
  }
  .cross1 {
    position: absolute;
    width: 1px;
    height: 10px;
    color: black;
    background-color: #000000;
    transform: rotate(30deg); 
  
  }
  .cross2 {
    transform: rotate(-60deg);
    width: 1px;
    height: 10px;
    color: black;
    background-color: black;
  }
  .image-img {
    width: 190px;
    height: 190px;
  }
  .card {
    width: 190px;
    border: 1px solid black;
    border-radius: 10px;
  }
  .wrapper {
    display: flex;
    gap: 10px;
    
  }
  .img-cart {
    width: 40px;
    height: 40px;
  }
  .wrapper-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
  .star {
    width: 20px;
    height: 20px;
  }
  .star:active {
    background-color: rgb(255, 187, 0);
  }